/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

.centered {
    text-align: center;
}

.cta .copy {
    font-size: 1.5em;
}
.cta .subtitle {
    font-weight: normal;
}
