/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

.centered {
    text-align: center;
}

.cta .copy {
    font-size: 1.5em;
}
.cta .subtitle {
    font-weight: normal;
}

.faqs {
}

.faq {
    border: 1px solid #ccc;
    padding: 18px;

}

.faq .question {
    font-weight: bolder;
}

.faq .answer {
}

.offers {

}

.offer-item.core {

}

#next-step {
    margin-top: 20px;
    padding: 20px;
}

.offer-box {
    border: 1px solid #ccc;
    padding: 20px;
}