body {}

.offset-container {
}

.centered {
    text-align: center;
}

.tagline {
    text-transform: uppercase;
}

#demo {
}

.headline {
    font-size: 3em;
}

.subheadline {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 1.4em;
}
.meeting-buddy {
    background-color: #cbefff;
}
.underline {
    text-decoration: underline;
}

.highlight {
    font-weight: normal;
    background-color: #f8eabe;
}

#offer {
    margin-top: 50px;
}

.offer-list {
    margin-top: 40px;
}

.offer-item {
    margin: 10px;
}

.cta-container {
    margin-top: 20px;
}

.cta .copy {
    font-size: 1.2em;
}
.cta .subtitle {
    font-weight: normal;
}

.faqs {
}

.faq {
    border: 1px solid #ccc;
    padding: 18px;

}

.faq .question {
    font-weight: bolder;
}

.faq .answer {
}

.offers {

}

.offer-item.core {

}

#next-step {
    margin-top: 20px;
    padding: 20px;
}

.offer-box {
    border: 1px solid #ccc;
    padding: 20px;
}